{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static " css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">Bookmarks</span>
    <!-- если пользователь зарегистрирован -->
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if section == "dashboard" %} class="selected" {% endif %}><a href="#">Мой кабинет</a></li>
        <li {% if section == "images" %} class="selected" {% endif %}><a href="#">Изоображении</a></li>
        <li {% if section == "people" %} class="selected" {% endif %}><a href="{% url 'user_list' %}">Люди</a></li>
    </ul>
    {% endif %}
    <span class="user">
       {% if request.user.is_authenticated %}
        Привет {{ request.user.first_name|default:request.user.username }}
        <a href='{% url "logout" %}'> Выход</a>
        {% else %}
        <a href='{% url "login" %}'>Вход</a>
        {% endif %}
    </span>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message|safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>